<div class="task" id="<%= task.id %>">

  <%= render 'tasks/task_status', task: task %>
  <% if task.status == 'completed' %>
  <h3 class="mb-0 task-title" id="title<%= task.id %>" style="text-decoration: line-through"><%= task.title %></h3>
  <% else %>
  <h3 class="mb-0 task-title" id="title<%= task.id %>"><%= task.title %></h3>
  <% end %>

  <p><%= task.body %></p>
</div>
