<div class="task-status">
  <div class="row">
    <div class="col-11 d-flex">
      <div class="task-status-text">
        <% if task.status == 'completed' %>
        <div id="status-<%= task.id %>">Status: <span style="color: limegreen;">completed</span></div>
        <% elsif task.status == 'uncompleted' %>
        <div id="status-<%= task.id %>">Status: <span style="color: red;">uncompleted</span></div>
        <% end %>
      </div>

      <div class="task-status-text category-text">
        <% if task.category && !task.archived? %>
        Category: <%= task.category.name %>
        <% elsif task.archived? %>
        Archived
        <% end %>
      </div>
    </div>
    <div class="col-1">
      <div class="dropdown">
        <a class="dropdown-toggle fas fa-ellipsis-h" href="#" role="button" id="dropdownMenuLink"
          data-bs-toggle="dropdown" aria-expanded="false">
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li id="change-status-<%= task.id %>">
            <% if task.status == 'uncompleted' %>
            <%= link_to 'Mark as completed', update_status_task_path(task, status: 'completed'), data: {method: :patch}, class: 'dropdown-item', remote: true %>
            <% else %>
            <%= link_to 'Mark as uncompleted', update_status_task_path(task, status: 'uncompleted'), data: {method: :patch}, class: 'dropdown-item', remote: true %>
            <% end %>
          </li>
          <li><a class="dropdown-item" href="<%= edit_task_path(task) %>">Edit task</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li id="change-archived-status-<%= task.id %>">
            <% if task.archived? == false %>
            <%= link_to 'Move to archive', update_archived_field_task_path(task, archived: true), data: {method: :patch}, class: 'dropdown-item', remote: true %>
            <% else %>
            <%= link_to 'Remove from archive', update_archived_field_task_path(task, archived: false), data: {method: :patch}, class: 'dropdown-item', remote: true %>
            <% end %>
          </li>
          <li>
            <%= link_to 'Delete task', task_path(task), data: {method: :delete, confirm: 'Are you sure?'}, class: 'dropdown-item', remote: true %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
